<h1>Login</h1>
<div class="row">

    <div class="col-md-6">
        <form autocomplete="off" #myForm="ngForm" (ngSubmit)="loginUser(myForm)" novalidate>
            <div class='form-group'>
                <label for='userName'>User Name :</label>
                <em *ngIf='mouseOverSubmit && (myForm.controls.userName?.touched && myForm.controls.userName?.invalid)' class='required'>Required</em>
                <input type='text' id='userName' placeholder="User Name" class='form-control' (ngModel)='userName' name='userName' required/>
            </div>
            <div class="form-group">
                <label for='password'>Password :</label>
                <em *ngIf='mouseOverSubmit && (myForm.controls.password?.touched && myForm.controls.password?.invalid)' class="required">Required</em>
                <input type="password" id='password' placeholder="Password" class='form-control' (ngModel)='password' name='password' required/>
            </div>

            <div ngModelGroup='location'>
                <div ngModelGroup='office'>
                    <label>office location</label>
                    <div class="form-group">
                        <label for="address">Address : </label>
                        <input type="text" id="address" placeholder="address" class="form-control" (ngModel)='address' name='address' />
                    </div>
                    <div class="form-group">
                        <label for="zip">Zip : </label>
                        <input type="text" id="zip" placeholder="zip" class="form-control" (ngModel)='zip' name='zip' />
                    </div>
                </div>
                <label>location</label>
                <div class="form-group">
                    <label for="address">Address : </label>
                    <input type="text" id="address" placeholder="address" class="form-control" (ngModel)='address' name='address' />
                </div>
                <div class="form-group">
                    <label for="zip">Zip : </label>
                    <input type="text" id="zip" placeholder="zip" class="form-control" (ngModel)='zip' name='zip' />
                </div>
            </div>

            <div class="form-group">
                <label for="imagePath">Image Url:</label>
                <em class="required" *ngIf="myForm.controls.imageUrl?.invalid && myForm.controls.imageUrl?.touched">Required or Wrong Pattern</em>
                <input type="text" placeholder="Image Url ..." 
                id="imagePath" class="form-control" 
                (ngModel)="imageUrl" name="imageUrl"  /> 
                    <!-- those are commented out in order to facilitate the login without actually pasting the url
                        
                        required
                    pattern=".*\/.*.(png|jpg)" 
                    />-->
                <img [src]="myForm.controls.imageUrl.value" 
                    *ngIf="myForm.controls.imageUrl?.valid" />

                <div >
                    <label>Sample Image Urls</label>
                    <div>
                        https://cdn2.iconfinder.com/data/icons/free-3d-printer-icon-set/128/Plastic_model.png
                    </div>

                    <div>
                        https://cdn2.iconfinder.com/data/icons/free-3d-printer-icon-set/128/3d_objects.png
                    </div>
                </div>

            </div>

            <span (mouseenter)='mouseOverSubmit=true' (mouseleave)='mouseOverSubmit=false'>
            <button type="submit" class="btn btn-primary" [disabled] = 'myForm.invalid'   >Submit</button>
        </span>
            <button type="button" class="btn btn-default">Cancel</button>
        </form>
    </div>
</div>

<div class="row">


    <div class="row">
        <div class="col-md-4"> myForm.valid : {{myForm.valid}} </div>
    </div>
    <div class="row">
        <div class="col-md-4"> myForm.invalid : {{myForm.invalid}} </div>
    </div>
    <div class="row">
        <div class="col-md-4"> myForm.controls.userName?.invalid : {{myForm.controls.userName?.invalid}} </div>
    </div>
    <div class="row">
        <div class="col-md-4"> myForm.controls.userName?.touched : {{myForm.controls.userName?.touched}} </div>
    </div>
    <div class="row">
        <div class="col-md-4"> myForm.controls.password?.invalid : {{myForm.controls.password?.invalid}} </div>
    </div>
    <div class="row">
        <div class="col-md-4"> myForm.controls.password?.touched : {{myForm.controls.password?.touched}} </div>
    </div>
    <div class="row">
        <div class="col-md-4"> mouseOverSubmit : {{mouseOverSubmit}} </div>


    </div>