<div style="border-color:cornflowerblue;border-style: dashed;border-width: 10px">
    <p>{{componentTitle}}</p>

    here are some custommers ...

    <table *ngIf='customers && customers.length'>
        <thead>
            <tr>
                <td>Name</td>
                <td>Age</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let customer of customers'>
                <td>{{customer.name}}</td>
                <td>{{customer.age}}</td>
            </tr>
        </tbody>
<tfoot><tr>
    {{customers.length}}
    </tr></tfoot>










    </table>

    <div>
            <pm-vendors></pm-vendors>

    </div>
</div>