<button (click)='showMyProductsTogle()'>Toggle My Demo</button>
<div *ngIf='showMyProducts'>
    <div class="oliveDashed" >
        <h1>{{pageTitle}}</h1>
        My Product List Component
        <pm-customers></pm-customers>
    </div>
    <div class="intro">
        <table *ngIf='products && productsX.length' >
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Is Available</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let product of productsX'>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.isAvailable}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>



<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='productFilter' />
            </div>

        </div>


        <div class='row'>
            <div class='col-md-2'>Image Width:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='imageWidth' />
            </div>
            <div class='col-md-2'>Image Height:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='imageHeight' />
            </div>
        </div>

        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by: </h3>
                <label>{{productFilter | uppercase}}</label>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click)='toggleProductImage()'>
                                Show Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products | productFilterPipe : productFilter'>
                        <!--<td><img src="{{ product.imageUrl }}"> </td>-->
                        <td>
                            <img [src]="product.imageUrl" [alt]='product.productName' [style.width.px]='imageWidth' [style.height.px]='imageHeight' *ngIf='showProductImages'
                                (click)='doubleTheImageSizes()' (mouseout)='resetsizeTo50()'>
                        </td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productCode | lowercase }}</td>
                        <td>{{ product.releaseDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{ product.price | currency}}</td>
                        <td>{{ product.starRating }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>